# Sentaurus TCAD binary mesh and temporary output files
*.log
*.cmd.bak
*.scm.bak
__pycache__/
*.tmp
*.err

# Large archive files (GitHub file size limit is 100MB)
*.zip
*.tar.gz

# Ignore binary simulation meshes in experiment runs
experiments/**/*.tdr
results/**/*.tdr

# Large personal images / office docs
*.jpeg
*.docx
